.arrows span{
    position: absolute;
    z-index: 10;
    top: 49%;
    height: 40px;
    width: 40px;
    background: rgba(199, 199, 199, 0.4);
    border-radius: 50%;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.25, 0.1, 0, 1.16);
}

.arrows span svg{
    transform: scale(1.2);
    fill: rgba(12, 12, 12, 0.5);
    transition: all 250ms cubic-bezier(0.25, 0.1, 0, 1.16);
}

.arrows span.prev{
    left: 5%;
}

.arrows span.next{
    right: 5%;
}

.arrows span:hover{
    background: rgba(199, 199, 199, 0.65);
}

.arrows span:hover svg{
    fill: rgba(12, 12, 12, 0.85);
}